// Button links
@mixin btn {
  font-size: 17px;
  font-weight: 500;
  padding: 6px 24px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s;
}

@mixin btn--green {
  &:link,
  &:visited {
    @include btn;

    color: #fff;
    background-color: var(--color-primary);
  }

  &:hover,
  &:active {
    color: var(--color-primary-dark);
    background-color: #fff;
    box-shadow: inset 0px 0px 0px 1.5px var(--color-primary-dark);
  }
}

@mixin btn--white {
  &:link,
  &:visited {
    @include btn;

    color: var(--color-primary-dark);
    background-color: #fff;
    box-shadow: inset 0px 0px 0px 1.5px var(--color-primary-dark);
  }

  &:hover,
  &:active {
    color: #fff;
    background-color: var(--color-primary);
  }
}

// Links
@mixin link {
  &:link,
  &:visited {
    text-decoration: none;
    font-weight: 500;
    font-size: var(--text-link);
    color: var(--color-text);
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    color: var(--color-primary-dark);
  }
}

.section-title {
  color: var(--color-primary-dark);
  font-size: var(--title-section);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

.section-subtitle {
  color: var(--color-text);
  font-size: var(--title-section-sub);
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
}

.overlay {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.fadeInTop {
  -webkit-animation: fadeInTop 0.5s both;
  -moz-animation: fadeInTop 0.5s both;
  -o-animation: fadeInTop 0.5s both;
  animation: fadeInTop 0.5s both;
}

@-webkit-keyframes fadeInTop {
  0% {
    -webkit-transform: translateY(-70px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes fadeInTop {
  0% {
    -moz-transform: translateY(-70px);
    opacity: 0;
  }

  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}

@-o-keyframes fadeInTop {
  0% {
    -o-transform: translateY(-70px);
    opacity: 0;
  }

  100% {
    -o-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    transform: translateY(-70px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.RevealInTop {
  -webkit-animation: RevealInTop 0.5s both;
  -moz-animation: RevealInTop 0.5s both;
  -o-animation: RevealInTop 0.5s both;
  animation: RevealInTop 0.5s both;
}

@-webkit-keyframes RevealInTop {
  0% {
    padding: 0 8px 0 16px;
    max-height: 0;
    overflow: hidden;
  }

  100% {
    padding: 0 8px 24px 16px;
    height: 100%;
    max-height: 340px;
  }
}

@-moz-keyframes RevealInTop {
  0% {
    padding: 0 8px 0 16px;
    max-height: 0;
    overflow: hidden;
  }

  100% {
    padding: 0 8px 24px 16px;
    height: 100%;
    max-height: 340px;
  }
}

@-o-keyframes RevealInTop {
  0% {
    padding: 0 8px 0 16px;
    max-height: 0;
    overflow: hidden;
  }

  100% {
    padding: 0 8px 24px 16px;
    height: 100%;
    max-height: 340px;
  }
}

@keyframes RevealInTop {
  0% {
    padding: 0 8px 0 16px;
    max-height: 0;
    overflow: hidden;
  }

  100% {
    padding: 0 8px 24px 16px;
    height: 100%;
    max-height: 340px;
  }
}

.HideAwayTop {
  -webkit-animation: HideAwayTop 0.5s both;
  -moz-animation: HideAwayTop 0.5s both;
  -o-animation: HideAwayTop 0.5s both;
  animation: HideAwayTop 0.5s both;
}

@-webkit-keyframes HideAwayTop {
  0% {
    padding: 0 8px 24px 16px;
    height: 100%;
    max-height: 340px;
  }

  100% {
    padding: 0 8px 0 16px;
    max-height: 0;
    overflow: hidden;
  }
}

@-moz-keyframes HideAwayTop {
  0% {
    padding: 0 8px 24px 16px;
    height: 100%;
    max-height: 340px;
  }

  100% {
    padding: 0 8px 0 16px;
    max-height: 0;
    overflow: hidden;
  }
}

@-o-keyframes HideAwayTop {
  0% {
    padding: 0 8px 24px 16px;
    height: 100%;
    max-height: 340px;
  }

  100% {
    padding: 0 8px 0 16px;
    max-height: 0;
    overflow: hidden;
  }
}

@keyframes HideAwayTop {
  0% {
    padding: 0 8px 24px 16px;
    height: 100%;
    max-height: 340px;
  }

  100% {
    padding: 0 8px 0 16px;
    max-height: 0;
    overflow: hidden;
  }
}
