// Button links
@mixin btn {
  font-size: 17px;
  font-weight: 500;
  padding: 6px 24px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s;
}

@mixin btn--green {
  &:link,
  &:visited {
    @include btn;

    color: #fff;
    background-color: var(--color-primary);
  }

  &:hover,
  &:active {
    color: var(--color-primary-dark);
    background-color: #fff;
    box-shadow: inset 0px 0px 0px 1.5px var(--color-primary-dark);
  }
}

@mixin btn--white {
  &:link,
  &:visited {
    @include btn;

    color: var(--color-primary-dark);
    background-color: #fff;
    box-shadow: inset 0px 0px 0px 1.5px var(--color-primary-dark);
  }

  &:hover,
  &:active {
    color: #fff;
    background-color: var(--color-primary);
  }
}

// Links
@mixin link {
  &:link,
  &:visited {
    text-decoration: none;
    font-weight: 500;
    font-size: var(--text-link);
    color: var(--color-text);
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    opacity: 0.65;
  }
}

.section-title {
  color: var(--color-primary-dark);
  font-size: var(--title-section);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

.section-subtitle {
  color: var(--color-text);
  font-size: var(--title-section-sub);
  font-weight: 500;
  text-align: center;
}
