/***********************/
/* HEADER */
/***********************/

.header {
  display: flex;
  align-items: center;

  height: 80px;
  padding: 0 20px;
  background-color: var(--color-background);

  @include sm {
    justify-content: space-between;
  }
}

.brand {
  text-decoration: none;
  z-index: 99;

  &__logo {
    display: none;

    @include sm {
      display: block;
      height: 28px;
      margin-right: 6px;
    }
  }

  &__name {
    color: var(--color-primary);
    font-size: var(--text-logo);
    font-weight: 500;
  }

  @include sm {
    display: flex;
    align-items: center;
  }
}

/***********************/
/* NAVIGATION */
/***********************/
.nav {
  &__list {
    display: flex;
    align-items: flex-start;
    list-style: none;
    flex-direction: column;

    @include sm {
      align-items: center;
      flex-direction: row;
    }

    li {
      &:not(:last-child) {
        margin-right: 15px;

        @include md {
          margin-right: 35px;
        }
      }

      @include mobile {
        padding: 15px 20px;
        width: 100%;

        &:not(:last-child) {
          margin-right: 0;
          border-bottom: 1px solid #e5e5e5;
        }

        &:last-child {
          margin-top: 10px;
        }
      }

      &[name="signup--link"] {
        @include sm {
          display: none;
        }
      }
    }

    &--link {
      @include link;
    }

    &--btn {
      &[name="login"] {
        @include btn--green;

        @include sm {
          margin: 0 15px 0 0;
          @include btn--white;
        }
      }

      &[name="signup"] {
        @include btn--green;
        @include mobile {
          display: none;
        }
      }
    }
  }

  &__btn {
    width: 29px;
    height: 29px;
    border: none;
    margin-right: 15px;
    background-color: transparent;
    z-index: 99;

    &--icon {
      width: 29px;
      height: 29px;

      &[name="close"] {
        display: none;
      }
    }

    @include sm {
      display: none;
    }
  }

  @include mobile {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 80px;
    left: 0;
    width: 55vw;
    height: calc(100vh - 80px);
    transform: translateX(-100vw);
    opacity: 0;
    pointer-events: none;
    z-index: 9;
    visibility: hidden;
  }

  &-open {
    .nav {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
    }

    .nav__btn--icon {
      &[name="close"] {
        display: block;
      }

      &[name="menu"] {
        display: none;
      }
    }
  }
}

/***********************/
/* HERO */
/***********************/
.hero {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 490px;
    margin: 0 auto;
    padding: 48px 24px;

    @include md {
      max-width: 1200px;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  &__text-box {
    order: 2;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @include md {
      order: 1;
      text-align: left;
      align-items: flex-start;
      max-width: 430px;
      margin-left: 25px;
    }

    @include lg-xl {
      max-width: 470px;
    }

    @include xl {
      max-width: 540px;
    }

    &--title {
      font-size: var(--title-md);
      font-weight: 600;
      color: var(--color-primary-dark);
      margin-bottom: 18px;

      @include xl {
        margin-bottom: 24px;
      }
    }

    &--text {
      font-size: var(--text-md);
      font-weight: 500;
      color: var(--color-text);
      margin-bottom: 18px;

      @include xl {
        margin-bottom: 24px;
      }
    }

    &--btn {
      @include btn--green;
      &:link,
      &:visited {
        font-size: 20px;
        padding: 8px 28px;

        @include lg {
          font-size: 22px;
        }
      }
    }
  }
  &__img-box {
    order: 1;
    max-width: 380px;
    margin-bottom: 36px;

    @include md {
      margin-bottom: 0;
      order: 2;
    }

    &--img {
      width: 100%;
    }
  }
}

/***********************/
/* HOW IT WORKS */
/***********************/
.how-it-works-section {
  background-color: var(--color-background);
  padding: 64px 20px;
}

.hiw {
  margin: 32px auto 0 auto;

  @include md-lg {
    max-width: 796px;
    padding: 0 12px;
  }

  @include lg {
    max-width: 868px;
  }

  &__step {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 48px;

    @include md {
      flex-direction: row;

      &:nth-child(2) {
        .hiw__img-box {
          order: 2;
          margin: 0 0 0 68px;
        }

        .hiw__text-box {
          order: 1;
        }
      }
    }
  }

  &__img-box {
    max-width: 310px;
    margin-bottom: 24px;
    overflow: hidden;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

    @include md {
      margin: 0 68px 0 0;
      width: 352px;
      max-width: 400px;
    }

    @include lg {
      width: 400px;
      max-width: 400px;
    }

    &--img {
      width: 100%;
    }
  }

  &__text-box {
    max-width: 430px;
    text-align: center;

    @include md {
      width: 352px;
    }

    @include lg {
      width: 400px;
    }

    &--title {
      color: var(--color-primary);
      font-size: var(--title-sm);
      font-weight: 500;
      margin-bottom: 12px;
    }

    &--text {
      font-size: var(--text-md);
    }
  }
}

/***********************/
/* SUPPORTED BY */
/***********************/
.supported-by-section {
  padding: 48px 0;
}

.supported-by {
  .section-title {
    margin-bottom: 24px;
  }

  &__container {
    @include md {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
      img {
        &:nth-child(1) {
          height: auto;
          width: 140px;
          margin-right: 12px;

          @include xl {
            width: 170px;
          }
        }

        &:nth-child(2) {
          height: 43px;
          width: auto;

          @include md {
            margin-right: 12px;
          }

          @include xl {
            height: 50px;
          }
        }
      }
    }
    &:nth-child(2) {
      img {
        height: 43px;
        width: auto;

        @include xl {
          height: 50px;
        }
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      transition: opacity 0.3s;
    }
    &:hover,
    &:active {
      opacity: 0.65;
    }
  }

  &__img {
    &:nth-child(1) {
      height: 43px;
      width: auto;
    }

    &:nth-child(2) {
      height: auto;
      width: 140px;
    }

    &:nth-child(3) {
      height: auto;
      width: 160px;
    }
  }
}

/***********************/
/* FOOTER */
/***********************/
.footer {
  margin-top: auto;
  background-color: var(--color-background);

  &__container {
    padding: 68px 0;

    @include md {
      display: grid;
      grid-template-columns: 3fr 2fr;
      row-gap: 48px;
      width: 500px;
      margin: 0 auto;
    }

    @include lg {
      display: flex;
      justify-content: space-between;
      width: 992px;
      padding: 68px;
    }

    @include xl {
      width: 1200px;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 24px;

    @include md {
      justify-content: flex-start;
    }

    &--logo {
      height: 28px;
      margin-right: 6px;
    }

    &--name {
      color: var(--color-primary);
      font-size: 20px;
      font-weight: 500;
    }
  }

  &__copyright {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: var(--color-text);

    @include md {
      text-align: left;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  @include md {
    justify-content: flex-start;
  }

  &__link {
    text-decoration: none;
    transition: opacity 0.3s;
    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover,
    &:active {
      opacity: 0.75;
    }
  }

  &__logo {
    width: 28px;
    height: 28px;
  }
}

.brand-col,
.links-col,
.contact-col {
  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }
}

.col-heading {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary-dark);
  margin-bottom: 18px;

  @include md {
    text-align: left;
  }
}

.links-col {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include md {
      align-items: flex-start;
      justify-content: flex-start;
    }

    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__link {
    @include link;
  }
}

.contact-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include md {
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__link {
    @include link;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.download-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include md {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .col-heading {
    margin-bottom: 12px;
  }

  &__link {
    transition: opacity 0.3s;
    &:last-child {
      margin-top: 12px;
    }

    &:hover,
    &:active {
      opacity: 0.75;
    }
  }

  &__logo {
    height: 40px;
  }
}
