*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: var(--color-text);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

:root {
  --color-text: #212529;
  --color-primary: #5bab34;
  --color-primary-dark: #529a2f;
  --color-primary-light: #7cbc5d;
  --color-background: #f5f5f5;
  --color-background-footer: #f5f5f5;
  --title-md: 22px;
  --title-sm: 20px;
  --title-section: 14px;
  --title-section-sub: 22px;
  --text-md: 16px;
  --text-sm: 14px;
  --text-link: 16px;
  --text-placeholder: 18px;
  --text-logo: 22px;
}

@media (min-width: 992px) {
  :root {
    --title-md: 26px;
    --title-sm: 22px;
    --title-section-sub: 24px;
    --text-md: 18px;
  }
}

@media (min-width: 1200px) {
  :root {
    --title-md: 32px;
    --text-md: 20px;
  }
}

.section-title {
  color: var(--color-primary);
  font-size: var(--title-section);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

.section-subtitle {
  color: var(--color-text);
  font-size: var(--title-section-sub);
  font-weight: 500;
  text-align: center;
}

/***********************/
/* HEADER */
/***********************/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: var(--color-background);
}

@media (min-width: 576px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.brand {
  text-decoration: none;
  z-index: 99;
}

.brand__logo {
  display: none;
}

@media (min-width: 576px) {
  .brand__logo {
    display: block;
    height: 28px;
    margin-right: 6px;
  }
}

.brand__name {
  color: var(--color-primary);
  font-size: var(--text-logo);
  font-weight: 500;
}

@media (min-width: 576px) {
  .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/***********************/
/* NAVIGATION */
/***********************/
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 576px) {
  .nav__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav__list li:not(:last-child) {
  margin-right: 15px;
}

@media (min-width: 768px) {
  .nav__list li:not(:last-child) {
    margin-right: 35px;
  }
}

@media (max-width: 575px) {
  .nav__list li {
    padding: 15px 20px;
    width: 100%;
  }
  .nav__list li:not(:last-child) {
    margin-right: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .nav__list li:last-child {
    margin-top: 10px;
  }
}

@media (min-width: 576px) {
  .nav__list li[name="signup--link"] {
    display: none;
  }
}

.nav__list--link:link, .nav__list--link:visited {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--text-link);
  color: var(--color-text);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.nav__list--link:hover, .nav__list--link:active {
  opacity: 0.65;
}

.nav__list--btn[name="login"]:link, .nav__list--btn[name="login"]:visited {
  font-size: 17px;
  font-weight: 500;
  padding: 6px 24px;
  text-decoration: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #fff;
  background-color: var(--color-primary);
}

.nav__list--btn[name="login"]:hover, .nav__list--btn[name="login"]:active {
  color: var(--color-primary-dark);
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 1.5px var(--color-primary-dark);
          box-shadow: inset 0px 0px 0px 1.5px var(--color-primary-dark);
}

@media (min-width: 576px) {
  .nav__list--btn[name="login"] {
    margin: 0 15px 0 0;
  }
  .nav__list--btn[name="login"]:link, .nav__list--btn[name="login"]:visited {
    font-size: 17px;
    font-weight: 500;
    padding: 6px 24px;
    text-decoration: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    color: var(--color-primary-dark);
    background-color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 1.5px var(--color-primary-dark);
            box-shadow: inset 0px 0px 0px 1.5px var(--color-primary-dark);
  }
  .nav__list--btn[name="login"]:hover, .nav__list--btn[name="login"]:active {
    color: #fff;
    background-color: var(--color-primary);
  }
}

.nav__list--btn[name="signup"]:link, .nav__list--btn[name="signup"]:visited {
  font-size: 17px;
  font-weight: 500;
  padding: 6px 24px;
  text-decoration: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #fff;
  background-color: var(--color-primary);
}

.nav__list--btn[name="signup"]:hover, .nav__list--btn[name="signup"]:active {
  color: var(--color-primary-dark);
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 1.5px var(--color-primary-dark);
          box-shadow: inset 0px 0px 0px 1.5px var(--color-primary-dark);
}

@media (max-width: 575px) {
  .nav__list--btn[name="signup"] {
    display: none;
  }
}

.nav__btn {
  width: 29px;
  height: 29px;
  border: none;
  margin-right: 15px;
  background-color: transparent;
  z-index: 99;
}

.nav__btn--icon {
  width: 29px;
  height: 29px;
}

.nav__btn--icon[name="close"] {
  display: none;
}

@media (min-width: 576px) {
  .nav__btn {
    display: none;
  }
}

@media (max-width: 575px) {
  .nav {
    background-color: white;
    position: absolute;
    top: 80px;
    left: 0;
    width: 55vw;
    height: calc(100vh - 80px);
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    opacity: 0;
    pointer-events: none;
    z-index: 9;
    visibility: hidden;
  }
}

.nav-open .nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-open .nav__btn--icon[name="close"] {
  display: block;
}

.nav-open .nav__btn--icon[name="menu"] {
  display: none;
}

/***********************/
/* HERO */
/***********************/
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 490px;
  margin: 0 auto;
  padding: 48px 24px;
}

@media (min-width: 768px) {
  .hero__container {
    max-width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.hero__text-box {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 768px) {
  .hero__text-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 430px;
    margin-left: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero__text-box {
    max-width: 470px;
  }
}

@media (min-width: 1200px) {
  .hero__text-box {
    max-width: 540px;
  }
}

.hero__text-box--title {
  font-size: var(--title-md);
  font-weight: 600;
  color: var(--color-primary-dark);
  margin-bottom: 18px;
}

@media (min-width: 1200px) {
  .hero__text-box--title {
    margin-bottom: 24px;
  }
}

.hero__text-box--text {
  font-size: var(--text-md);
  font-weight: 500;
  color: var(--color-text);
  margin-bottom: 18px;
}

@media (min-width: 1200px) {
  .hero__text-box--text {
    margin-bottom: 24px;
  }
}

.hero__text-box--btn:link, .hero__text-box--btn:visited {
  font-size: 17px;
  font-weight: 500;
  padding: 6px 24px;
  text-decoration: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #fff;
  background-color: var(--color-primary);
}

.hero__text-box--btn:hover, .hero__text-box--btn:active {
  color: var(--color-primary-dark);
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 1.5px var(--color-primary-dark);
          box-shadow: inset 0px 0px 0px 1.5px var(--color-primary-dark);
}

.hero__text-box--btn:link, .hero__text-box--btn:visited {
  font-size: 20px;
  padding: 8px 28px;
}

@media (min-width: 992px) {
  .hero__text-box--btn:link, .hero__text-box--btn:visited {
    font-size: 22px;
  }
}

.hero__img-box {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 380px;
  margin-bottom: 36px;
}

@media (min-width: 768px) {
  .hero__img-box {
    margin-bottom: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.hero__img-box--img {
  width: 100%;
}

/***********************/
/* HOW IT WORKS */
/***********************/
.how-it-works-section {
  background-color: var(--color-background);
  padding: 64px 20px;
}

.hiw {
  margin: 32px auto 0 auto;
}

@media (min-width: 768px) and (max-width: 991px) {
  .hiw {
    max-width: 796px;
    padding: 0 12px;
  }
}

@media (min-width: 992px) {
  .hiw {
    max-width: 868px;
  }
}

.hiw__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  .hiw__step {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hiw__step:nth-child(2) .hiw__img-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 0 68px;
  }
  .hiw__step:nth-child(2) .hiw__text-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.hiw__img-box {
  max-width: 310px;
  margin-bottom: 24px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .hiw__img-box {
    margin: 0 68px 0 0;
    width: 352px;
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  .hiw__img-box {
    width: 400px;
    max-width: 400px;
  }
}

.hiw__img-box--img {
  width: 100%;
}

.hiw__text-box {
  max-width: 430px;
  text-align: center;
}

@media (min-width: 768px) {
  .hiw__text-box {
    width: 352px;
  }
}

@media (min-width: 992px) {
  .hiw__text-box {
    width: 400px;
  }
}

.hiw__text-box--title {
  color: var(--color-primary);
  font-size: var(--title-sm);
  font-weight: 500;
  margin-bottom: 12px;
}

.hiw__text-box--text {
  font-size: var(--text-md);
}

/***********************/
/* SUPPORTED BY */
/***********************/
.supported-by-section {
  padding: 48px 0;
}

.supported-by .section-title {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .supported-by__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.supported-by__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.supported-by__wrapper:nth-child(1) img:nth-child(1) {
  height: auto;
  width: 140px;
  margin-right: 12px;
}

@media (min-width: 1200px) {
  .supported-by__wrapper:nth-child(1) img:nth-child(1) {
    width: 170px;
  }
}

.supported-by__wrapper:nth-child(1) img:nth-child(2) {
  height: 43px;
  width: auto;
}

@media (min-width: 768px) {
  .supported-by__wrapper:nth-child(1) img:nth-child(2) {
    margin-right: 12px;
  }
}

@media (min-width: 1200px) {
  .supported-by__wrapper:nth-child(1) img:nth-child(2) {
    height: 50px;
  }
}

.supported-by__wrapper:nth-child(2) img {
  height: 43px;
  width: auto;
}

@media (min-width: 1200px) {
  .supported-by__wrapper:nth-child(2) img {
    height: 50px;
  }
}

.supported-by__link:link, .supported-by__link:visited {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.supported-by__link:hover, .supported-by__link:active {
  opacity: 0.65;
}

.supported-by__img:nth-child(1) {
  height: 43px;
  width: auto;
}

.supported-by__img:nth-child(2) {
  height: auto;
  width: 140px;
}

.supported-by__img:nth-child(3) {
  height: auto;
  width: 160px;
}

/***********************/
/* FOOTER */
/***********************/
.footer {
  margin-top: auto;
  background-color: var(--color-background);
}

.footer__container {
  padding: 68px 0;
}

@media (min-width: 768px) {
  .footer__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
    row-gap: 48px;
    width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 992px;
    padding: 68px;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    width: 1200px;
  }
}

.footer__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .footer__brand {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__brand--logo {
  height: 28px;
  margin-right: 6px;
}

.footer__brand--name {
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 500;
}

.footer__copyright {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: var(--color-text);
}

@media (min-width: 768px) {
  .footer__copyright {
    text-align: left;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.social__link {
  text-decoration: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.social__link:not(:last-child) {
  margin-right: 20px;
}

.social__link:hover, .social__link:active {
  opacity: 0.75;
}

.social__logo {
  width: 28px;
  height: 28px;
}

@media (max-width: 767px) {
  .brand-col:not(:last-child),
  .links-col:not(:last-child),
  .contact-col:not(:last-child) {
    margin-bottom: 48px;
  }
}

.col-heading {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary-dark);
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  .col-heading {
    text-align: left;
  }
}

.links-col__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .links-col__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.links-col__list li:not(:last-child) {
  margin-bottom: 12px;
}

.links-col__link:link, .links-col__link:visited {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--text-link);
  color: var(--color-text);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.links-col__link:hover, .links-col__link:active {
  opacity: 0.65;
}

.contact-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .contact-col {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.contact-col__link:link, .contact-col__link:visited {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--text-link);
  color: var(--color-text);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.contact-col__link:hover, .contact-col__link:active {
  opacity: 0.65;
}

.contact-col__link:not(:last-child) {
  margin-bottom: 12px;
}

.download-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .download-col {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.download-col .col-heading {
  margin-bottom: 12px;
}

.download-col__link {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.download-col__link:last-child {
  margin-top: 12px;
}

.download-col__link:hover, .download-col__link:active {
  opacity: 0.75;
}

.download-col__logo {
  height: 40px;
}
/*# sourceMappingURL=main.css.map */